target/classes/com/NitinSane/Finance/SecurityQuote/Quote.class
target/classes/com/NitinSane/Finance/SecurityQuote/QuoteMain.class
target/classes/com/NitinSane/Finance/SecurityQuote/QuoteSource.class
target/classes/com/NitinSane/Finance/SecurityQuote/Alphavantage/AlphavantageQuote.class
target/classes/com/NitinSane/Finance/SecurityQuote/Alphavantage/AlphavantageQuoteSource.class
target/classes/com/NitinSane/Finance/SecurityQuote/Alphavantage/GlobalQuote.class
